<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <!-- <form action="register" method="POST">
    {% csrf_token %}
        <div class="fname">
            <p>Full Name</p>
            <input type="text" placeholder="Enter Full Name" name="fname" required>
        </div>
        <div class="phnum">
            <p>Phone number</p>
            <input type="text" placeholder="Enter Phone Number" name="phnum" required>
        </div>
        <div class="email">
            <p>Email Address</p>
            <input type="email" placeholder="Enter your email" name="email" required>
        </div>
        <div class="state">
            <p>State</p>
            <input type="text" placeholder="Enter State Name" name="state" required>
        </div>
        <div class="addr">
            <p>Address</p>
            <input type="text" placeholder="Enter address" name="address" required>
        </div>
        <div class="usname">
            <p>Username</p>
            <input type="text" placeholder="Enter Username" name="username" required>
        </div>
        <div class="pass">
            <p>Password</p>
            <input type="password" placeholder="Enter Password" name="password" required>
        </div>
        <div class="sbmt">
            <button type="submit">Register</button>
        </div>
    </form> -->

    <form method="POST" action="register">
        {% csrf_token %}
            <h3>Register Profile</h3>
            

            <!-- <div class="form-field">
                {{profile_form.name.label_tag}}
                {{profile_form.name}}
            </div>
            <div class="form-field">
                {{form.username.errors}}
                {{form.username.label_tag}}
                {{form.username}}
            </div>
            <div class="form-field">
                {{profile_form.email.label_tag}}
                {{profile_form.email}}
            </div>
            <div class="form-field">
                {{profile_form.address.label_tag}}
                {{profile_form.address}}
            </div>
            <div class="form-field">
                {{form.password1.errors}}
                {{form.password1.label_tag}} 
                {{form.password1}}
            </div>
            <div class="form-field">
                {{form.password2.errors}}
                <{{form.password2.label_tag}} 
                {{form.password2}}
            </div> -->
            {{form.as_p}}
            {{profile_form.as_p}}

        <hr>
        <input id="form-button" class="btn btn-success btn-block" type="submit" value="Create Profile">
        <br>
            {{form.non_field_errors}}
    </form>
    
</body>
</html>
