<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="static/css/bootstrap.css">

</head>
<body>

<div class="container mt-5" >
 <div class="row my-3" >
  <div class="col-sm-7 offset-sm-3"   >
   <h3 class="text-center alert alert-info">Register with us</h3>

   <hr>

    <form method="POST" action="register" novalidate class="shadow p-5" style="border:2px solid grey">
        {% csrf_token %}
            <h3></h3>
            {{form.as_p}}
            {{profile_form.as_p}}
        <hr>
        <input id="form-button" class="btn btn-success btn-block" type="submit" value="Create Profile">
        <br>
            {{form.non_field_errors}}
    </form>

    </div>
    </div>

    <script src="static/js/jquery.js"></script>
    <script src="static/js/popper.js"></script>
    <script src="static/js/bootstrap.js"></script>
    
</body>
</html>
