<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <script src="{% static 'enroll/js/jquery.js' %}" ></script>
     <script src="{% static 'enroll/js/popper.js' %}" ></script>
     <script src="{% static 'enroll/js/bootstrap.js' %}" ></script>
      <link rel="stylesheet" href=" {% static 'enroll/css/bootstrap.css' %}">

<style>
   .bg-image-vertical {
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: auto 100%;
}

@media (min-width: 1025px) {
  .h-custom-2 {
    height: 100%;
  }
}

</style>
</head>

<body>
     

       <div class="container mt-5 m-lg-3" >
 <div class="row my-3" >
  <div class="col-sm-7 offset-sm-3"   >
   <h3 class="text-center alert alert-success">Add New User</h3>
   <hr>

       <form action="sin" method="POST" novalidate class="shadow p-4" style="border:2px solid grey" >
            {% csrf_token %}
            <div class="us-name">
                 Username<br><br>
                <input type="text" name="username" class="form-control"  value="" placeholder="Username">
                <br><br>
            </div>

            <div class="pass">
               Password<br><br>
                <input type="password"  name="password" class="form-control"  value="" placeholder="Password">
                <br><br>
            </div>

            <div class="lgin">
                  <br><br>
                <button type="submit" name="button" class="btn btn-success">Login</button>
              </div>
        </form>


        </div>
        </div>
        </div>
  

        <div class="reg">
            <div class="text">
                Don't have an account? <a href="register" class="sgup">Sign Up</a>
            </div>
            <div class="fgt-pass">
                <a href="" target="_blank">Forgot your password?</a>
            </div>
        </div>


    </div>

</body>
</html>
